<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.gmail.supersonicleader.app.controller.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.gmail.supersonicleader.app.controller.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/users</url-pattern>
        <url-pattern>/roles</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/roles</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.gmail.supersonicleader.app.controller.listener.AppListener</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
